body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(190, 190, 190);
  background-image: linear-gradient(to right, rgba(0, 238, 255, 0), rgb(105, 193, 209));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgb(36, 73, 109);
  border: 2px solid rgb(17, 66, 116);
  float: right;
}

footer p {
  color: white;
  margin: 10px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(36, 73, 109);  
}

li.nav, #myWalletButton, #createWalletButton {
  float: left;
}

#exitButton {
  float: right;
}

li.nav a, #myWalletButton a, #createWalletButton a, #exitButton a{
  display: block;
  color: white;
  text-align: center;
  padding: 35px 45px;
  text-decoration: none;
}

ul.userList {
  overflow: hidden;
  max-width: 200px;
  overflow:hidden;
}

li.userList {
  text-decoration: none;
  margin-bottom: 20px;
  color:rgb(5, 95, 110);
}


li.nav a:hover:not(.active), #createWalletButton a:hover:not(.active), 
#myWalletButton a:hover:not(.active), #exitButton a:hover:not(.active) {
  background-color: rgb(5, 95, 110);
}

.active {
  background-color: #04AA6D;
}

h2 {
    color : rgb(49, 49, 49);
    padding-bottom : 10px;
}

#newTransaction, #createWallet{
  max-width: 500px;
  max-height: 1000px;
  margin: 0 auto;
  justify-content: center;
}

input {
  display: block;
  width: 80%;
  margin: 10px;
  padding: 8px;
}

label {
  font-size: 1.2em;
  display: block;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  background: #333;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

#transactionButton {
  float: right;
  background: rgb(36, 73, 109);
  color: white;
  padding: 6px;
  border: 1px solid rgb(17, 68, 119);
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

#transactionButton:hover:not(.active) {
  background-color: rgb(5, 95, 110);
}

.active {
  background-color: #04AA6D;
}

#transactionBlock {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 1px;
}

#transactionList {
  list-style-type: none;
  padding: 0;
}

/* Blockhain status */

#blockchainStatus {
  padding: 20px;
}

#blockchainStatus-child {
  width: 45%;
  float: left;
  padding: 20px;
}

#block {
  border: 2px solid rgb(53, 158, 243);
  padding: 5%;
  background-color: #1874be;
  position: fixed;
}

#blockchainStatus ul {
  list-style-type: none ;
  padding: 0;
  width: 80%;
}

#blockchainStatus li {
  border: 1px solid rgb(78, 119, 207);
  padding: 5px;
  margin: 10px;
}



