<!DOCTYPE html>
<%- include("head.html") %>

    <body>
        <%- include("nav.html") %>
            <div id="blockchainStatus">
                <h2>Blockchain Status</h2>
                <h4>Blocks : <%= blocks.numberOfBlocks %>
                </h4>
                <ul>
                    <% blocks.blocks.forEach((block)=> {%>
                        <li>
                            <h4>Block Number: <%= block.blockNumber %>, Validation Time: <%= block.validationTime %>
                            </h4>
                            <h4>Previous Block Hash: <%= block.previousHash %>
                            </h4>
                            <h4>Block Hash: <%= block.blockHash %>
                            </h4>
                            <h4>Hashing Difficulty: <%= block.hashDifficulty %>, Block Transactions <%=
                                        block.blockTransactions %>
                            </h4>
                        </li>
                        <% }) %>
                </ul>


            </div>


    </body>

    </html>