<!DOCTYPE html>
<%- include("head.html") %>

  <body>
    <%- include("nav.html") %>

      <div class="transactionParent">
        <div class="transaction">
          <h2>New Transaction</h2>
          <h2>Your balance(<%= user.name %>): <%= user.balance %> coins</h2>
          <form action="/transactions" method="POST">
            <label class="transactions">Public address:</label>
            <input type="text" class="transactions" name="transactions[publicAddress]" required>
            <label class="transactions">Coin Amount</label>
            <input type="text" class="transactions" name="transactions[coinAmount]" required>
            <button>Send</button>
          </form>
        </div>

        <div class="transaction">
          <h2>Transaction History</h2>
          <ul id="transactionList">
            <!-- slice().reverse() can slow down the server. --->
            <% transactions.slice().reverse().forEach((transaction)=> {%>
              <% if(transaction.source==='null' || transaction.destination==='null' ) { %>
                <!-- <li id="transactionBlock">
                   <h4>Transaction fee: <%= transaction.balance %> </h4>-->
                <% } else if(Number.isInteger(transaction.balance)===true) { %>
                  <li id="transactionBlock">
                    <h4>From <span style="color:red">
                        <%= transaction.source %>
                      </span> to <span style="color:red">
                        <%= transaction.destination %>
                      </span>, <span style="color: red">Transaction amount: <%= transaction.balance %></span>
                      <span style="float: right;">Validation Time:
                        <%= transaction.validationTime %>
                      </span>

                    </h4>
                    <h4>Transaction Hash: <%= transaction.transactionHash %>
                    </h4>
                  </li>
                  <% } %>
                    <% }) %>
          </ul>

        </div>
      </div>
  </body>
  <%- include("footer.html") %>

    </html>