body {
  background-color: rgb(190, 190, 190);
  background-image: linear-gradient(to right, rgba(0, 238, 255, 0), rgb(105, 193, 209));
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: grey;
  border: 2px solid red;
  float: right;
}

footer p {
  color: white;
  margin: 10px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(48, 44, 44);  
}

li.nav, #myWalletButton, #createWalletButton {
  float: left;
  border-right:1px solid #bbb;
}

#exitButton {
  float: right;
  border-left:1px solid #bbb;
}

li.nav a, #myWalletButton a, #createWalletButton a, #exitButton a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.userList {
  overflow: hidden;
}

li.userList {
  margin-bottom: 10px;
}

li.userList a {
  color: red;
  text-align: center;
  padding: 14px;
}

li.nav a:hover:not(.active), #createWalletButton a:hover:not(.active), 
#myWalletButton a:hover:not(.active), #exitButton a:hover:not(.active) {
  background-color: rgb(119, 119, 119);
}

.active {
  background-color: #04AA6D;
}

h2 {
    color : rgb(49, 49, 49);
    padding-bottom : 10px;
}

form{
  max-width: 600px;
  margin: 0 auto;
  margin-left: 20px;
}

input {
  display: block;
  width: 80%;
  margin: 10px;
  padding: 8px;
}

label{
  font-size: 1.2em;
  display: block;
  margin-bottom: 20px;
}

button{
  margin-top: 20px;
  background: #333;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

#delete {
  margin-top: 20px;
  background: #333;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

#delete a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.transactionParent{
  border: 5px ;
  padding: 10px;
}

.transaction {  
  width: 40%;
  float: left;
  padding: 10px;
  border: 5px solid red;
}

.transaction:first-child {
  margin-right: 10px;
}

.transaction:last-child {
  width: 55%;
}

#transactionBlock {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 1px;
}

#transactionList {
  list-style-type: none;
  padding: 0;
}

#blockchainStatus {
  float: left;
  padding: 10px;
  border: 5px solid red;
  margin: 5px;
}

#blockchainStatus ul {
  list-style-type: none ;
  padding: 0;
}

#blockchainStatus li {
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
}